################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JwtApi/obj/Debug/netcoreapp3.1
/JwtApi/obj
/JwtApi/bin/Debug/netcoreapp3.1
/Utils/obj
/Utils/bin/Debug/netcoreapp3.1
