################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JwtApi/obj/Debug/netcoreapp3.1
/JwtApi/obj
/JwtApi/bin/Debug/netcoreapp3.1
/Utils/obj
/Utils/bin/Debug/netcoreapp3.1
/SearchApi/bin/Debug/net6.0
/SearchApi/obj
/WebApiTestNonMinimal/bin/Debug/net6.0
/WebApiTestNonMinimal/obj/Debug/net6.0
/WebApiTestNonMinimal/obj
/WebApiTestNonMinimalHttps/obj
/WebApiTestNonMinimalNoSwagger
/WebApiTestNonMinimalNet5
/WebApiTestNonMinimalHttps
/WebApiTestNonMinimal
/MiddlewareTest/obj
/MiddlewareTest/bin/Debug/net6.0
/LoginCookieApp/bin/Debug/net6.0
/LoginCookieApp/obj
/LoginCookieApp/wwwroot
/HttpsTestApi/obj
/HttpsTestApi/bin/Debug/net6.0
